
.counter {
  color: white;
  font-size: 2rem;
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
}

/* Color Themes */
.blue {
  background: linear-gradient(45deg, #000125, #0e00c7);
  box-shadow: 0px 6px 15px -2px #2b58ff;
}
.black {
  background: linear-gradient(45deg, red, #000);
  box-shadow: 0px 6px 15px -2px red;
}
.crimson {
  background: linear-gradient(45deg, crimson, #1c0032);
  box-shadow: 0px 6px 15px -2px crimson;
}
.green {
  background: linear-gradient(45deg, #00ff42, #000);
  box-shadow: 0px 6px 15px -2px green;
}
.violet {
  background: linear-gradient(45deg, #4100cd, #0e002d);
  box-shadow: 0px 6px 15px -2px #662bff;
}
.cyan {
  background: linear-gradient(45deg, cyan, #00251c);
  box-shadow: 0px 6px 15px -2px cyan;
}
